<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>FaceIt</title>

    <!-- Bootstrap -->
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
	<link href="{{ url_for('static', filename='css/bootstrap-theme.min.css') }}" rel="stylesheet">
	<link href="theme.css" rel="stylesheet">
  </head>
  <body role="document">

	

	<nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
	
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">FaceIt</a>
          </div>
          <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
              <li class="active"><a href="#">Home</a></li>
              <li><a href="/about">About</a></li>
              <li><a href="#contact">Contact</a></li>
			  <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Dropdown <span class="caret"></span></a>
                <ul class="dropdown-menu" role="menu">
                  <li><a href="#">Action</a></li>
                  <li><a href="#">Another action</a></li>
                  <li class="divider"></li>
                  <li class="dropdown-header">Other sectionr</li>
                  <li><a href="#">Separated link</a></li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </nav>

	   <div class="container theme-showcase" role="main">

      <!-- Main jumbotron for a primary marketing message or call to action -->
      <div class="jumbotron">
        <h1>FaceIt</h1>
        <p>Lets do some inteli-cyber!</p>
      </div>

	 <div class="page-header">
		<h1>We are currently watching over:</h1>
	 </div>


	<div class="row">
	  <div class="col-md-6">
          <table class="table table-striped">
            <thead>
              <tr>
                <th>#</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Username</th>
                <th>Title</th>
              </tr>
            </thead>
            <tbody>
		
		{% for p in persons %}
		
              <tr>
                <td>{{persons.index(p)}}</td>
                <td>{{p.first_name}}</td>
                <td>{{p.last_name}}</td>
                <td>{{p.username}}</td>
                <td>{{p.title}}</td>

              </tr>
		{% endfor %}
            </tbody>
          </table>
        </div>
	</div>

      <div class="page-header">
		<h2>Add now to list!</h2>
	 </div>

         <form class="form-inline">
          <div class="form-group">
            <label for="first_name">First Name</label>
            <input type="text" class="form-control" id="first_name" placeholder="John">
          </div>
           <div class="form-group">
            <label for="last_name">Last Name</label>
            <input type="text" class="form-control" id="last_name" placeholder="Lennon">
          </div>
           <div class="form-group">
            <label for="username">Username</label>
            <input type="text" class="form-control" id="username" placeholder="JohnDeKing">
          </div>
           <div class="form-group">
            <label for="title">Title</label>
            <input type="text" class="form-control" id="title" placeholder="Singer-Songwriter">
          </div>
          <button type="submit" class="btn btn-default">Submit</button>
        </form>


	<br><br><br>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src={{ url_for('static', filename='js/bootstrap.min.js') }}></script>
    <script src={{ url_for('static', filename='js/docs.min.js') }}></script>
  </body>
</html>